/.metadata
/SOAClient/target
/SOAServer/target
/SOAParent/.settings
/SOAServer/.settings
/SOAServer/WebContent


/SOAServer/build
/SOAServer/target
/SOAModel/target
/RemoteSystemsTempFiles
/SOAClient/test-output
*.class