/.metadata
/SOAServer/target
/SOAClient/target
/SOAModel/target
/SOAParent/.settings
/SOAServer/.settings
/SOAServer/build
/SOAServer/target
/RemoteSystemsTempFiles
/SOAClient/test-output
/SOAClient/target
/SOAModel/target
*.class