.button {
	text-decoration:none;
	color:rgb(239,228,176);
	font-style: italic;
	padding:0px 7px;
	background-color:rgb(61,96,235);
	border: 2px solid black;
	border-radius: 5px;
}

a.button:hover, a.button:visited {
	color:rgb(239,228,176);
}

.button-img{
	float:left;
}

.button-txt{
	cursor: pointer;
}